*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Amble';;
}
:root{
    --theme-color : #1eb4f9;
    --font-color: #333;
}
header div a{
    text-decoration: none;
    color: black;
}
header div .row a:hover{
   color: var(--theme-color)  !important;
   
}
/* header div a:active , header div a:focus{
    color: #1eb4f9!important;
} */
.active{
    color: #1eb4f9;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#sec-1{  
    width: 50%;
}
.card{
    border: none;
    box-shadow:rgb(154, 144, 133), 0 1px 4px rgba(0,0,0,.6) !important;
}
.card-footer ul li a{
    color: black;
    text-decoration: none;
}

/* footer */
footer{
    background-color: #D1D8DD;
}

footer ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
}
footer ul li{
   list-style-type: none;
   font-weight: bolder;
   font-size: 18px;
   text-align: center;
}
.footer-description{
    font-weight: 100;
    font-size: 15px;
}
.follow-list{
    margin-bottom: 0;
}
.follow-list  li a{
    color: black;
    text-decoration: none;
}