* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;

}

:root {
    --theme-color: #1eb4f9;
    --font-color: #333;
}

header div a {
    text-decoration: none;
    color: black;
}

header div .row a:hover {
    color: var(--theme-color) !important;
}

.active {
    color: #1eb4f9;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#sec-1 {
    width: 60%;
}

.card {
    border: none;
    box-shadow: rgb(154, 144, 133), 0 1px 4px rgba(0, 0, 0, .6) !important;
}

.card-footer ul li a {
    color: black;
    text-decoration: none;
}


/* resume */

#resume_section {
    background: rgb(230, 218, 206);
    width: 100%;
    height: 100%;
    padding: 150px 0 60px 0;
}

#resume_section #resume-main h3 {
    text-align: center;
    font-weight: bolder;
    padding-bottom: 30px;
}

#resume_section #resume-main h3::before {
    content: ' \220E';
    color: #0d6efd;
    padding: 10px;
}

#resume_section #resume-main {
    width: 50%;
    margin: 0 auto;
    /* border: 1px solid black; */
}

#resume_section .title-sec {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
}

#resume_section .title-sec h4,
a {
    font-weight: bolder;
}

#resume_section .title-sec a {
    padding: 10px 20px;
    border-radius: 30px;
    transition: border 0.3s;
    color: white;
    text-decoration: none;
}

#resume_section .title-sec a:hover {
    background-color: transparent;
    outline: none;
    color: black;
    font-weight: bold;
}

#resume_section .resume-details {
    /* border: 1px solid yellow; */
    margin: 50px 0;
}

#resume_section .card-body {
    padding: 2.4rem !important;
}

#resume_section .card {
    padding: 40px;
}

#resume_section .card {
    box-shadow: 5px 5px 10px 6px #979797;
}

#resume_section .skill-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px 40px;  */
    padding: 0;
    margin-top: 10px;

}

#resume_section .skill-list li {
    flex: 1 1 50%;
    padding: 5px;
    box-sizing: border-box;
}

/* project */

#project-section {
    background: rgb(230, 218, 206);
    width: 100%;
    height: 100%;
    padding: 150px 0 60px 0;

}

#project-section #project-main {
    width: 50%;
    margin: 0 auto;
    /* border: 1px solid black; */
}

#project-section #project-main h3 {
    text-align: center;
    /* padding-top: 150px; */
    font-weight: bolder;
    padding-bottom: 30px;
}

#project-section #project-main h3::before {
    content: ' \220E';
    color: #0d6efd;
    padding: 10px;
}

#project-section .project-details {
    margin: 50px 0;
    width: 100%;
}

#project-section .card {
    box-shadow: 5px 5px 10px 6px #979797;
    padding: 50px;
}

#project-section .project-details img {
    width: 100%;
    height: 100%;

}

#project-section .project-details img:hover {
    opacity: 0.8;
    ;
}

/* pop-up css */

#project-section .popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}

#project-section .popup-content {
    background-color: white;
    /* margin: 15% auto; */
    padding: 95px;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;

}

#project-section .popup-content:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}

#project-section .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#project-section .close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* footer */
footer {
    background-color: #D1D8DD;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
}

footer ul li {
    list-style-type: none;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
}

.footer-description {
    font-weight: 100;
    font-size: 15px;
}

.follow-list {
    margin-bottom: 0;
}

.follow-list li a {
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    header {
        padding: 5px;
    }

    #sec-1 {
        width: 100%;
    }
    header .header-list{
        display: none!important;
    }
    
    header #collapseExample .row{
        display: flex;
        flex-direction: column;
        font-size: 15px; 
        text-align: center;
    }
    header .name span {
        display: block;
    }
    #main section div img {
        width: 70%!important;
    }
    /* #my_description{
        text-align: start;
    } */
   
    /* resume */
    #resume_section {
        padding: 30px 0;
    }

    #resume_section #resume-main {
        width: 95% !important;
  
    }
    #resume_section .resume-details .card {
        margin: 0!important;
    }

    /* project */
    #project-section{
        padding: 30px 0;
    }
    #project-section #project-main h3{
        padding-bottom: 0;
    }
    #project-section #project-main{
        width: 95% !important;
    }
    /* project-popup-section */
    #project-section .popup-content{
        padding: 0;
    }
    /* footer */
    footer ul {
        flex-direction: column;
        padding-left: 0;
    }
    footer ul li{
        padding: 5px 0;
    }

    footer .follow-list {
        /* display: inline-block; */
        flex-direction: row;
        display: flex;
    }

}

@media (min-width:601px) and (max-width:755px){
    header .navbar-button{
        display: none;
    }
    header .name span {
        display: block;
    }
    header div .header-list {
        display: flex;
        justify-content: space-around!important;
        align-items: center;
    }
    header div .col a {
        /* display: block; */
        margin: 10px 0;
        font-size: 12px;
        text-align: center;
        
    }
    #sec-1{
        width: 80%;
    }

    /* resume */
    #resume_section {
        padding: 30px 0;
    }

    #resume_section #resume-main {
        width: 95% !important;
  
    }
    #resume_section .resume-details .card {
        margin: 0!important;
    }

     /* project */
     #project-section{
        padding: 30px;
    }
    #project-section #project-main h3{
        padding-bottom: 0;
    }
    #project-section #project-main{
        width: 80% !important;
    }
    /* project-popup-section */
    #project-section .popup-content{
        padding: 0;
    }
    /* footer */
    footer ul {
        flex-direction: column;
        padding-left: 0;
    }
    footer ul li{
        padding: 5px 0;
    }

    footer .follow-list {
        /* display: inline-block; */
        flex-direction: row;
        display: flex;
    }
}

/* media-query for desktop and leptop */
@media (min-width:756px) {
    body{
        width: auto;
    }
    header .navbar-button{
        display: none;
    }
    header .name span {
        display: block;
    }
}